*{
    margin: 0;
    font-family: 'inter';
}
h1, h2, h3{
    text-transform: uppercase;
}
#header{
    margin-top: 50px;
    background-color: burlywood;
}
#nameAndWork{
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#contact{
    list-style-type: none;
}
#contact i{
    width: 20px;
    color: burlywood;
}